h2{
  margin-left: 2%;
}
ul{
  margin-bottom: 2%;
  margin-top: 1%;
}

.blogContainer{
  margin-bottom: 2%;
  margin-top: 2%;
}

.marginleft{
  margin-left: 7%;
}

.marginrightlittle{
  margin-right: 10px;
}

nav{
  height: 60px;
  padding-top: 1%;
}
